@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
 :root{
    --color1:#05b1b1;
    --color2:#52339a;
}


body{
    
    /* background: rgb(246,248,249);
    background: -moz-linear-gradient(left,  rgba(246,248,249,1) 0%, rgba(229,235,238,1) 34%, rgba(229,235,238,1) 34%, rgba(215,222,227,1) 59%, rgba(245,247,249,1) 100%);
    background: -webkit-linear-gradient(left,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 34%,rgba(229,235,238,1) 34%,rgba(215,222,227,1) 59%,rgba(245,247,249,1) 100%);
    background: linear-gradient(to right,  rgba(246,248,249,1) 0%,rgba(229,235,238,1) 34%,rgba(229,235,238,1) 34%,rgba(215,222,227,1) 59%,rgba(245,247,249,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6f8f9', endColorstr='#f5f7f9',GradientType=1 ); */
    color: #0f141e;
    font-size: 16px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    background-color: #7777774b;
   
   
} 

.avatar{
    width: 200px;
    height: 220px;
    border-radius: 45px;
    box-shadow: 4px 4px 14px rgb(0 0 0 / 25%);
    padding-right: 0;

}

.info_card{
    margin-left:  0px;
}

.my_card{
    
}
.card-yellow{
    padding: 15px 20px;
    background: #fff9dc;
    margin-bottom: 10px;
    border-radius: 20px;
}

.card-green{
    padding: 15px 20px;
    background: #e5ffe7;
    margin-bottom: 10px;
    border-radius: 20px;
}

.card-pink{
    padding: 15px 20px;
    background: #ffe5e5;
    margin-bottom: 10px;
    border-radius: 20px;
}

ol {
    padding: 0 20px;
}

h4{
    margin-top: 20px;

}

td, th{
    padding: 3px 8px 0 8px;
}
